*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.home-container {
  background-color: aqua;
  padding: 20px;
  transition: all 0.3s ease;
  width: 4000px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: 1280px) and (max-width: 1920px) {
    width: calc(1920px - 250px);
    margin: 0;

    .sidebar-collapsed & {
      width: calc(100% - 60px);
    }
  }
}