
.home-container {
  padding: 20px;
  transition: all 0.3s ease;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: 1280px){
    width: calc(1280px - 250px);
    margin: 0;

  }
  @media (min-width: 1920px){
    width: calc(1920px - 250px);
    margin: 0;

    .sidebar-collapsed & {
      width: calc(100% - 60px);
    }
  }
}