$font-jost: 'Jost', sans-serif;
$font-outfit: 'Outfit', sans-serif;
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  background-color: aliceblue;
  .not-found-illustration {
    max-width: 50%;
    height: auto;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-family: $font-outfit;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0.5rem;
    font-family: $font-jost;
  }

  .home-link {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #12aaac;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-family: $font-outfit;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}