
  @mixin group-fields{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 130px;
    
    
    & > * {
      width: 100%;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
 
  .add-employee-container{
    background-color:aliceblue;
    min-height: 120vh;
    width: 100%;
  form{
    display: flex;
    background-color:#fff;
    margin: 20px auto;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 97%;
.group{
@include group-fields;

  .form-group {
    position: relative;
    margin-bottom: 20px;
  
    .user-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #999;
    }
    
  
    input, select,textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 12px 12px 12px 40px;
      font-size: 16px;
      width: 430px;
      background: transparent;
      position: relative;
      z-index: 1;
  
      &:focus {
        outline: none;
        border-color: #333;
        box-shadow: 0 0 5px rgba(13, 13, 13, 0.3);
      }
  
      &:focus + label,
      &:valid + label {
        top: -8px;
        left: 40px; 
        font-size: 12px;
        color: #333;
        background: #f4f4f4;
        padding: 0 4px;
        z-index: 2;
      }
    }
  
    label {
      position: absolute;
      top: 12px;
      left: 40px;
      font-size: 16px;
      color: #999;
      pointer-events: none;
      transition: 0.2s ease all;
      background: transparent;
    }
   
  }
}
}

}