$font-rubik: 'Rubik', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-outfit: 'Outfit', sans-serif;
$font-ropa-sans: 'Ropa Sans', sans-serif;
  @mixin group-fields{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 130px;
    
    
    & > * {
      width: 100%;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
 
  .add-employee-container{
    background-color:aliceblue;
    min-height: 120vh;
    width: 100%;
  form{
    display: flex;
    background-color:#fff;
    margin: 20px auto;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 97%;
    h2{
      text-align: center;
      margin-bottom: 20px;
      color: #333;
      font-size: 16px;
      font-family: $font-rubik;
      font-weight: 700;
    }
.group{
@include group-fields;

button{
  background-color: #00E5FF;
  color: #555;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  width: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: #4682B4;
    transform: scale(1.1);
    animation: transform translate 0.3s;
    color: #fff;
  }
}

  .form-group {
    position: relative;
    margin-bottom: 20px;
  
    .user-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #999;
    }
    
  
    input, select,textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 12px 12px 12px 40px;
      font-size: 16px;
      font-family: $font-outfit;
      width: 430px;
      background: transparent;
      position: relative;
      z-index: 1;
  
      &:focus {
        outline: none;
        border-color: #333;
        box-shadow: 0 0 5px rgba(13, 13, 13, 0.3);
      }
  
      &:focus + label,
      &:valid + label {
        top: -8px;
        left: 40px; 
        font-size: 13px;
        color: #333;
        background: #fff;
        font-family: $font-jost;
        padding: 0 4px;
        z-index: 2;
      }
    }
  
    label {
      position: absolute;
      top: 12px;
      left: 40px;
      font-size: 16px;
      color: #999;
      pointer-events: none;
      transition: 0.2s ease all;
      background: transparent;
      font-family: $font-poppins;
    }
   
  }
}
}

}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
  z-index: 1000;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}