.App {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  .container-main-page {
    display: flex;
    width: 100%;
    transition: all 0.3s ease;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
    transition: all 0.3s ease;
  }

  &.sidebar-collapsed {
    position: sticky;
    .main-content {
      margin-left: 60px;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .App {
    .container-main-page {
      .main-content {
        width: calc(100% - 250px);
      }
    }

    &.sidebar-collapsed {
      .container-main-page {
        .main-content {
          width: calc(100% - 60px);
        }
      }
    }
  }
}
